[Unit]
Description=Sausage store
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=jarservice1
Type=simple

StandardError=append:/log/err.log
StandardOutput=append:/log/events.log
Environment="REPORT_PATH=/log/reports/"
Environment="LOG_PATH=/log/"
Restart=always
Environment="LOGGING_LEVEL_ROOT=INFO"
ExecStart=java -jar /home/jarservice/sausage-store.jar

[Install]
WantedBy=multi-user.target

