[Unit]
Description=Sausage store
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=jarservice
Type=simple

StandardError=append:/opt/log/sausage-store.log
StandardOutput=append:/opt/log/sausage-store.log
Environment="REPORT_PATH=/opt/log/reports/"
Environment="LOG_PATH=/opt/log/"
Restart=always
Environment="LOGGING_LEVEL_ROOT=INFO"

#Start backend jar file
ExecStart=/usr/bin/java \
-jar '/opt/sausage-store.jar' \
--spring.datasource.url=jdbc:postgresql://c-c9qslvj961omn1nevnjl.rw.mdb.yandexcloud.net:6432/testdb \
--spring.datasource.username=sa \
--spring.datasource.password=password \
--spring.flyway.baselineOnMigrate=true \
--spring.data.mongodb.uri=mongodb://parshin:Testusr1234@rc1b-nczpq63snuc5a3z2.mdb.yandexcloud.net:27018/parshin?tls=true 

[Install]
WantedBy=multi-user.target


#ExecStart=java -jar /opt/sausage-store.jar
