[Unit]
Description=Sausage store
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=jarservice
Type=simple

StandardError=append:/opt/log/sausage-store.log
StandardOutput=append:/opt/log/sausage-store.log
Environment="REPORT_PATH=/opt/log/reports/"
Environment="LOG_PATH=/opt/log/"
Restart=always
Environment="LOGGING_LEVEL_ROOT=DEBUG"
ExecStart=java -jar /home/jarservice/sausage-store.jar

[Install]
WantedBy=multi-user.target

