---
apiVersion: v1
kind: Secret
metadata:
  name: vault
  labels:
    app: vault
data:
  vault_token: aHZzLmdIaVIzUzJjbXdwdU1uamwwYzBGN3Z6SA==
type: Opaque

---
kind: Secret
apiVersion: v1
metadata:
  name: docker-config-secret
data:
  .dockerconfigjson: >-
    ewoJImF1dGhzIjogewoJCSJnaXRsYWIucHJha3Rpa3VtLXNlcnZpY2VzLnJ1OjUwNTAiOiB7CgkJCSJhdXRoIjogImNHRnljMmhwYmpvaldHOTBiMjFsTkhrPSIKCQl9Cgl9Cn0=
type: kubernetes.io/dockerconfigjson